# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Text'
      'submenu': [
        {type: 'separator'}
        {
          'label': 'Upper Case Rearward'
          'command': 'upper-case-rearward:convert'
        }
      ]
    ]
  }
]
